body {
  font-family: 'Roboto', sans-serif;
  margin-left: 80px;
  margin-right: 80px;

}

.up {
  background-color: #08254e;
  color: aliceblue;
}

.container {
  display: flex;
  background-color: #08254e;
  color: aliceblue;
  margin-left: 50px;
}

.child.one {
  margin-left: 50px;
}

.child.two{
  margin-left: auto;
}

.child.three,
.child.four {
  margin-left: 20px;
  margin-right: 150px;
}


.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}


.hero-left .main-text {
  font-size: 48px;
  font-weight: 900;
  margin-left: 50px;
}


.hero-left .secondary-text {
  font-size: 18px;
  margin-left: 50px;
  color: #6b7280; /* softer contrast color */
}

.sign-up-btn{
  padding: 14px 32px;
  background-color: #2563eb; /* blue */
  color: white;
  border: aqua;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 50px;

}

.hero-right {
  width: 500px;
  height: 260px;
  background-color: #9ca3af; /* gray placeholder */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin-right: 150px;
}


.random {
text-align: center;
font-size: 38px;
color: #1f2937;
font-weight: 900;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;

}
.card {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}
.card-image {
  width: 120px;
  height: 120px;
  border: 3px solid #49d4fb;
  border-radius: 12px;
}

.card-text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #475569;
}

.quote-part {
  background-color: #e5e7eb;
  padding-left: 400px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 400px;
  margin-top: 150px;
  display: flex;

}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  text-align: justify;
}

.author {
  font-size: 28px;
  font-weight: 1000;
  text-align: right;
}


.fourth-section {
  background-color: #3882f6;
  display: flex;
  align-items: center;            /* vertically center text + button */
  justify-content: space-between; /* pushes TEXT to the LEFT and pushes BUTTON to the RIGHT. THere will be space in between */

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;

  padding: 20px; /* optional nice internal spacing */
}

.call-action {
  color: white;
  padding-left: 30px;
  font-weight: 900;
}

.call-action2 {
  color: white;
  font-weight: 100;
}

.second-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;

  display: inline-block; /* auto width */
  padding: 8px 16px;     /* nice button padding */
}

.last-section {
  background-color: #1f2937;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 15px 0px;
}
.copyright {
  color: white;
}
